# --- Backend Web Framework ---
flask
flask-cors
python-dotenv

# --- LangChain Core + Integrations ---
langchain
langchain-core
langchain-community
langchain-openai
langchain-pinecone
langchain-tavily
langchain-text-splitters
langchain-classic
langchain-google-genai
# --- External Dependencies ---
openai
pinecone-client
tavily-python

# --- Utilities ---
certifi
coloredlogs
 